# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
absl-py
addict
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
async-timeout
attrs
babel
backcall
beautifulsoup4
bleach
bzip2
ca-certificates
certifi
cffi
charset-normalizer
click
coloredlogs
comet-ml
comm
configobj
contourpy
cycler
debugpy
decorator
deep-sort-realtime
defusedxml
docker-pycreds
dulwich
einops
et-xmlfile
eval-type-backport
everett
exceptiongroup
executing
fastapi
ffmpy
filelock
filetype
fire
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
gitpython
gmp
gmpy2
google-pasta
gradio
gradio-client
graphviz
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
importlib-resources
importlib_metadata
ipykernel
ipython
ipywidgets
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
kaggle
keras
kiwisolver
lazy-loader
libblas
libcblas
libclang
libcxx
libffi
libgfortran
libgfortran5
liblapack
libopenblas
libsodium
libsqlite
libzlib
lightning-utilities
llvm-openmp
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mmcv
mmcv-full
mmengine
mpc
mpfr
mpmath
multidict
namex
narwhals
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
networkx
notebook
notebook-shim
numpy
onnx
onnxruntime
onnxslim
opencv-python
opencv-python-headless
openpyxl
openssl
opt-einsum
optree
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip
platformdirs
prometheus_client
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pybboxes
pycocotools
pycparser
pydantic
pydantic-core
pydub
pygments
pyparsing
pysocks
python
python-box
python-dateutil
python-dotenv
python-fastjsonschema
python-flatbuffers
python-json-logger
python-multipart
python-slugify
python_abi
pytorch-lightning
pytorch-wavelets
pytz
pywavelets
pyyaml
pyzmq
qudida
readline
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
roboflow
rpds-py
ruff
safetensors
sahi
scikit-image
scikit-learn
scipy
seaborn
semantic-version
send2trash
sentry-sdk
setproctitle
setuptools
shapely
shellingham
simplejson
simsimd
six
smmap
sniffio
soupsieve
sqlite
stack_data
starlette
stringzilla
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
terminaltables
text-unidecode
threadpoolctl
tifffile
timm
tinycss2
tk
tokenizers
tomli
tomlkit
torch
torchaudio
torchinfo
torchmetrics
torchvision
torchviz
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-extensions
typing_extensions
tzdata
ultralytics-thop
uri-template
urllib3
uvicorn
vision-transformers
wandb
wcwidth
webcolors
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wrapt
wurlitzer
xz
yaml
yapf
yarl
zeromq
zipp
zlib
